<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation RDT Suite" >
<parameter name="browsertype" value="chrome"></parameter>
<test name="Automation RDT Suite">
 <classes>
         <class name="com.cavisson.automation.RDTAutomation.testsuite.RDTSuite" />
         

 </classes>
 </test>
</suite> <!-- Suite -->